<footer class="flex items-center justify-center w-full mt-5">
  <span class="text-sm text-gray-600 mr-1"
    >This tiny (and very in progress) tool was made by
    <a
      href="https://www.oliverbrennan.dev/"
      class="text-blue-600 hover:text-blue-800 text-sm font-semibold"
      target="_blank"
      >Ollie</a
    >. Catch me on
    <a
      href="https://github.com/Khazii"
      class="text-blue-600 hover:text-blue-800 text-sm font-semibold"
      target="_blank"
      >GitHub</a
    >
    or
    <a
      href="https://twitter.com/oliverbrennan_"
      class="text-blue-600 hover:text-blue-800 text-sm font-semibold"
      target="_blank"
      >Twitter</a
    >
  </span>
</footer>
