<header class="flex items-center justify-between flex-wrap bg-slate-900 p-6">
  <div class="flex flex-col flex-shrink-0">
    <span class="font-semibold text-xl tracking-tight text-white"
      >Setup Angular</span
    >
    <small class="text-gray-400">
      Choose your preferences, copy your command and get coding!
    </small>
  </div>

  <a href="https://angular.dev/" title="https://angular.dev/" target="_blank">
    <img
      src="assets/logos/angular_gradient.png"
      alt="Angular Logo"
      width="50"
    />
  </a>
</header>
